.footer-container {
  background-color: #333;
  border-top: 2px solid #fff; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 50px;
  max-width: 100%;
  padding: 20px;
  text-align: center;
}

.copyright {
  font-size: 1.2em;
}
